.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

  }
  
  .popup-content {

    background: white;
    padding: 20px;
    border-radius: 8px;
  
    max-width: 600px;
    max-height: 80%;
    
  }

  .t_cwording{

    background: white;
    position: relative;
    max-height: 450px;
    overflow-y: auto;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  h2 {
    margin-top: 0;
  }
  
  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  .header_display{

    text-align: center;
    width: 100%;
    align-items: center;

  }
  .foot_display{
    padding: 20px;
    text-align: right;
  }

  .accept_button{
    background-color: grey;
    width: 50%;
    padding: 10px;
    color: rgb(53, 7, 7);
    border: none;
    border-radius: 4px;
    /* color: #fff; */
    font-size: 16px;
    cursor: pointer;
}

.accept_button:hover {
  background-color: #2980b9;
}