<!-- <button (click)="showPopup()">Open Popup</button> -->

<div>
  <app-terms-conditions [isVisible]="isPopupVisible" (closeEvent)="hidePopup()">

  </app-terms-conditions>
  <div>
    @if(showIntroPage!=false){
      <app-intro-page></app-intro-page>
    }@else {
      @if(showLogin){
        <app-login (messageEvent)="receiveMessage($event)" ></app-login>
      }
      @else {
        @if (showRegister) {
          <app-register (messageEventReg)="receiveMessageRegistration($event)"></app-register>
        }@else{
          @if(showNews){
            <app-news (messageEventNews)="receiveMessageNews($event)"></app-news>
          }
        }
      }
    }

  </div>
  
</div>

  