<div class="comp_container">
  
    <div class="login-container">
      <h2>Registration</h2>
      <form (ngSubmit)="registerUser()" #loginForm="ngForm">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            name="username"
            [(ngModel)]="username"
            required
            #usernameInput="ngModel"
            class="form-control"
          />
          @if(usernameInput.invalid && usernameInput.touched){
          <div class="error-message">
              Username is required.
          </div>
        }
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            [(ngModel)]="password"
            required
            #passwordInput="ngModel"
            class="form-control"
          />
          @if(passwordInput.invalid && passwordInput.touched){
            
            <div *ngIf="" class="error-message">
              Password is required.
            </div>
          }
          </div>
          
          <div class="form-group">
            <label for="password">Confirm Password</label>
            <input
              type="password"
              id="conFirmpassword"
              name="conFirmpassword"
              [(ngModel)]="conFirmpassword"
              required
              #passwordInput="ngModel"
              class="form-control"
            />
            @if(passwordInput.invalid && passwordInput.touched){
              
              <div *ngIf="" class="error-message">
                Confirm password is required
              </div>
            }
            </div>
            
        <button type="submit" class="submit-button" [disabled]="loginForm.invalid">Register</button>
        <button type="submit" class="submit-button" (click)="sendMessage('Cancel')">Cancel</button>
  
        @if(errorMessage){
          <div class="error-message">
            {{ errorMessage }}
          </div>
        }
  
        
      </form>
    </div>
  </div>